@charset "UTF-8";

.input-lg {
    text-transform:none;
}
.post-categories{
    display: flex;
    padding: 0;
}
.post-categories > li{
    margin-right: 10px;
    list-style: none;
}
.post-categories > li::after{
    content: "/";
}
